<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrap2eco | Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="Logos/favicon/apple-touch-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="Logos/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Logos/favicon/favicon-16x16.png">
    <link rel="manifest" href="Logos/favicon/site.webmanifest">
    <link rel="stylesheet" href="/home1.css">
    
    
</head>
<body>
    <header>
       <h1>Scrap2eco</h1>
   </header>

    <nav>
        <a class="menu-btn" href="#">Home</a>
        <a class="menu-btn" href="#">FAQ</a>
        <a class="menu-btn" href="#">About us</a>
        <a class="menu-btn" href="/login">Login/Sign up</a>
    </nav>

    <div>
        <h2>Objective</h2> 

            <p class="container"> 
                <img style="float: right;" width="20%" src="C:\Users\LENOVO\Desktop\Project - Copy\image.webp" alt="">
              The main objective of our website is to connect local scrap vendors to recycling companies. This will help 
              to create a transparent process for dealing between them. Also, with the help of this website 
              we will create strong connectivity between vendors and companies. This will lead to better network.
              Also, the growth of the vendors will increasse exponentially in fiinance and networking.  
            </p>


     </div>

    
</body>
</html>