
*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html,body{
   height: 100%;
   width: 100%;
}

header{
    padding: 50px;
    text-align: center;
    background-color: darkcyan;
    color: #edf1f2;
    background-attachment: fixed;
}

header h1{
    font-size: 40px;
}

nav{
    display: flex;
    align-items: center;
    background-color: #333;
}
.nav-opt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-opt a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw 2vw;
}

nav .menu-btn:hover{
    background-color: #ddd;
    color: black;
}

@media screen and (max-width:390px) {
    nav {
        flex-direction: column;
    }
}
   

/* Scrap Dashboard */
.main{
    background-color: #fff;
    height: 100%;
    width: 100%;

  
}
.heading
{
    text-align: center;
    padding: 1vw;
}

.scrap{
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    
}
.scrap-in{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}


.scrap-input , .scrap-record{
    border: 1px solid #000;
    padding: 1vw;
    max-width: 600px;
    max-height: 670px;
    background: #fff;
    border-radius: 10px;
    margin-top: 2vw;
    
}

.scrap-input h2 , .scrap-record h2{
    font-size: 25px;
    font-weight:600 ;
    position: relative;
    margin-bottom: 1vw;
}

.scrap-input h2::before,
.scrap-record h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 60px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* Scrap Details Insertion */
.scrap-in{
    display: flex;
    flex-wrap: wrap;
}
.scrap-in .input {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.scrap-in .input label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.scrap-in .input input,
.scrap-in .input select { /* Adjusted selector to include 'select' */
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all ease 0.3s;
}

.scrap-in .input input:focus,
.scrap-in .input select:focus{
    border-color: darkcyan;
}

form button {
    display: block;
    align-self: center;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: #71b7e6;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all ease 0.3s;
}
form button:hover{
    border-color: #333;

}

/* Scrap Records */
.scrap-record .records{
    display:flex ;
    padding: 1vw;
    max-height: 500px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    /* max-width: 1200px; */
    position: relative;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}

.records .record-groups{
    display:flex ;
    padding: 0.5vw;
    width: 230px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top:  10px;
    box-shadow: #333333b4 2px 2px;
}
.scrap-details{
    display: flex;
    align-items: center;
    gap: 0.2vw;
    flex-wrap: wrap;
    position: relative;
}

.records .button{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button form {
    /* height: 100%; */
    width: 100%;
}
.record-groups  .scrap-btn{
    margin: 2px;
    outline: none;
    height: 30px;
    width: 90%;
    background-color: #71b7e6;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.record-groups .scrap-btn:hover{
    border-color: #333;

}

/*  Company page */
.company-container{
    display: flex;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.view-records{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    flex-wrap: wrap;
}



.view{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
